# Solves (Device usb2 failed to suspend async: error -16) on suspend
[Unit]
Description=Script upon suspend/resume
After=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/bin/load_xhci
StandardOutput=syslog

[Install]
WantedBy=sleep.target suspend.target
